p {
  font-size: 20px;
  background-color: lightsalmon;
  text-align: justify;
}

h2 {
  color: gray;
}

img {
  text-align: center;
}

div.bloque1 {
  width: 70%;
  margin: 0 auto;
  border: 3px solid;
}

#unDiv {
  border: 5px solid blue;
  float: left;
  background-color: yellow;
  height: 200px;
  width: 70%;
  font-size: 3em;
  text-align: center;
}
